<!DOCTYPE html>
<html>
  <head>
    <title>pollr</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <header class="newquestion">
      <span>pollr. <strong>ask awesomely.</strong></span>
    </header>
    <main class="newquestion">
      <form id="newquestionform" method="GET" action="" onsubmit="return false;">
        <input id="question" class="question" type="text" placeholder="Should I make this thing?" />
        <button id="askbtn" class="askbtn" type="submit" disabled="true">Ask</button>
      </form>
    </main>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/newquestion.script.js"></script>
  </body>
</html>