<!DOCTYPE html>
<html>
  <head>
    <title>pollr</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <header class="newquestion">
      <span>pollr. <strong>ask awesomely.</strong></span>
    </header>
    <main class="newquestion">
      <input id="question" name="question" class="question" type="text" placeholder="Should I make this thing?" />
    </main>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/assets/js/newquestion.script.js"></script>
  </body>
</html>