main {
  &.newquestion {
    position: fixed;
    bottom: 0;
    .question {
      border: 0;
      outline: 0;
      background: transparent;
      font-size: 3em;
      width: 100%;
      color: $grey_dark;
      &:focus {
        outline: 0;
      }
    }
    .askbtn {
      @include transition(all, 0.35s, ease-in-out);
      border: none;
      outline: none;
      font-size: 2.6em;
      margin-top: 0.5em;
      padding: 0.2em 0.5em;
      border-radius: 5px;
      background: $blue;
      color: $white;
      cursor: pointer;
      margin-left: -150px;
      &:hover {
        background: $blue_active;
      }
      &:active, &.active {
        @include transition(all, 0.05s, ease-in-out);
        background: $blue_vlight;
      }
      &.visible {
        margin-left: 0;
      }
    }
  }
}